<ion-header>
    <ion-toolbar>
        <ion-title>
            EARN
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class='lend' fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col size="7">
                <ion-card>
                    <img class="currency_image" src="../../assets/currencies/eth.png" />
                    <ion-card-header>
                        <ion-card-subtitle ion-center>World Computer Coin</ion-card-subtitle>
                        <ion-card-title>ETHER</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>Balance: {{currencies.ETH}} &nbsp;&nbsp;<img class="currency_image_small"
                                    src="../../assets/currencies/eth.png" />
                            </ion-item>
                            <ion-item>Balance Dolars: {{currencies.ETH * 150}} $
                            </ion-item>
                        </ion-list>
                        <ion-row>
                            <ion-col size="4">
                                <ion-button color="success"> Earn </ion-button>
                            </ion-col>
                            <ion-col size="7" offset="1">
                                <ion-button> Withdraw</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Earnign Statistics</ion-card-subtitle>
                        <ion-card-title>ETHER</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list class='center'>
                            <ion-item>
                                <ion-label position="stacked">Your Earnings</ion-label>
                                0
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Earned All Time</ion-label>
                                10
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Your Earnings</ion-label>
                                10
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked">Live Earnings All Users</ion-label>
                                100
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="7">
                <div>
                    <ion-card>
                        <img class="currency_image" src="../../assets/currencies/usdc.png" />
                        <ion-card-header>
                            <ion-card-subtitle>Stable coin ~ 1$</ion-card-subtitle>
                            <ion-card-title>USDC</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list>
                                <ion-item>Balance: {{currencies.USDC}} &nbsp;&nbsp;<img class="currency_image_small"
                                        src="../../assets/currencies/usdc.png" />
                                </ion-item>
                                <ion-item>Balance Dolars: {{currencies.USDC * 150}} $
                                </ion-item>
                            </ion-list>
                            <ion-row>
                                <ion-col size="4">
                                    <ion-button color="success"> Earn </ion-button>
                                </ion-col>
                                <ion-col size="7" offset="1">
                                    <ion-button> Withdraw</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>Earnign Statistics</ion-card-subtitle>
                            <ion-card-title>USDC</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list class='center'>
                                <ion-item>
                                    <ion-label position="stacked">Your Earnings</ion-label>
                                    0
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Earned All Time</ion-label>
                                    10
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Your Earnings</ion-label>
                                    10
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Live Earnings All Users</ion-label>
                                    100
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="lastCurrencyCard" size="7">
                <div>
                    <ion-card>
                        <img class="currency_image" src="../../assets/currencies/bat.png" />
                        <ion-card-header>
                            <ion-card-subtitle>Token for digital advertising</ion-card-subtitle>
                            <ion-card-title>BAT</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list>
                                <ion-item>Balance: {{currencies.BAT}} &nbsp;&nbsp;<img class="currency_image_small"
                                        src="../../assets/currencies/bat.png" />
                                </ion-item>
                                <ion-item>Balance Dolars: {{currencies.BAT * 0.17}} $
                                </ion-item>
                            </ion-list>
                            <ion-row>
                                <ion-col size="4">
                                    <ion-button color="success"> Earn </ion-button>
                                </ion-col>
                                <ion-col size="7" offset="1">
                                    <ion-button> Withdraw</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>Earnign Statistics</ion-card-subtitle>
                            <ion-card-title>BAT</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list class='center'>
                                <ion-item>
                                    <ion-label position="stacked">Your Earnings</ion-label>
                                    0
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Earned All Time</ion-label>
                                    10
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Your Earnings</ion-label>
                                    10
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Live Earnings All Users</ion-label>
                                    100
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>