.currency_image{
    width: 20%;
    margin: auto;
    margin-top: 5%;
}


.currency_image_small{
    width: 10%;
}

.lend{
    text-align: center;
}

.lastCurrencyCard{
    margin-bottom: 50px;
}

.left{
    float:left;
}

.right{
    float:right;
}

.center > div{
    text-align:center;
}